    div {
        border: dotted 2px;
        margin: 5px;
    }
    
    .hiddenP {
        display: none;
    }
    
    h1 {
        display: none;
    }
    
    #second {
        display: hidden;
    }
    
    img {
        display: block;
    }